body {
    background-color: hsl(0, 100%, 9%);
    margin: 0;
}
.brain {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: cursive, serif;
    background-color: rgb(159, 64, 54);
    margin-top: 0;
    color: rgb(0, 0, 0);
    padding-top: 30px;


}

.prgh {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-family:inherit;
    color: rgb(122, 1, 1);
    background-color: rgb(236, 221, 195);
}
.me {
    float: right;
    display: block;
    color: #230e0e;
    text-align: right;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}
.future {
    text-align: center;
    background-color: rgb(196, 85, 79);
    color: #000000;
    padding: 0;
    font-size: 17px;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 100px;
}

.rights {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(177, 96, 96);
    color: #000000;
    padding: 14px 16px;
    font-size: 15px; 
}