body {
    background-color: hsl(0, 100%, 9%);
    margin: 0;
}
.brain {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: cursive, serif;
    background-color: rgb(159, 64, 54);
    margin-top: 0;
    color: rgb(0, 0, 0);
    padding-top: 30px;


}

.prgh {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-family:inherit;
    color: rgb(122, 1, 1);
    background-color: rgb(236, 221, 195);
}
.me {
    float: right;
    display: block;
    color: #230e0e;
    text-align: right;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}
.future {
    text-align: center;
    background-color: rgb(196, 85, 79);
    color: #000000;
    padding: 0;
    font-size: 17px;
}

.rights {
    text-align: center;
    width: 100%;
    background-color: rgb(177, 96, 96);
    color: #000000;
    padding: 2px 16px;
    font-size: 15px; 
}

button:hover {
    background-color: rgb(58, 53, 53);
}

.theme button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.theme button:hover {
    background-color: #e0e0e0;
}

body.lighttheme {
    background-color: #fdf6e3;
    color: #073642;
}

body.lighttheme .prgh{
    background-color: #d3e3d2;
    color: #586e75;
}

body.lighttheme .future{
    background-color: #d7b29f;
}


body.lighttheme .brain{
    background-color: #e4baa5;
}

body.lighttheme .rights{
    background-color: #e0ac92;
}
body.lighttheme .right{
    background-color: #e0ac92;
}

body.lighttheme .prgh{
    background-color: #d3e3d2;
}
.lighttheme .theme button {
    background-color: #c7be96;
    color: #fdf6e3;
    border-color: #002b36;
}

body.darktheme {
    background-color: #000000;
    color: #fdf6e3;
}

body.darktheme .prgh{
    background-color: grey;
    color: #000000;
}

body.darktheme .brain{
    background-color: #586e75;
    color: #000000;
}

body.darktheme .future{
    background-color: gray;
    color: #000000;
}

body.darktheme .rights{
    background-color: #586e75;
    color: #000000;
}

body.darktheme .right{
    background-color: #586e75;
    color: #000000;
}

.darktheme .theme button {
    background-color: #586e75;
    color: #fdf6e3;
    border-color: #073642;
}


#bodyy{
    background-color: antiquewhite ;
    margin: 0;
}

.imgg{
    float: right;
    display: block;
    color: #230e0e;
    text-align: right;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}
.imggg{
    float: right;
    display: block;
    color: #230e0e;
    text-align: right;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

button:hover {
    background-color: rgb(58, 53, 53);
}

.theme button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.theme button:hover {
    background-color: #e0e0e0;
}

#bodyy.lighttheme {
    background-color: #ebf2f4;
    color: #073642;
}

#bodyy.lighttheme .prgh{
    background-color: #d3e3d2;
    color: #586e75;
}


#bodyy.lighttheme .brain{
    background-color: #e4baa5;
}

#bodyy.lighttheme .rights{
    background-color: #e0ac92;
}
#bodyy.lighttheme .right{
    background-color: #e0ac92;
}

.lighttheme .theme button {
    background-color: #c7be96;
    color: #fdf6e3;
    border-color: #002b36;
}

#bodyy.darktheme {
    background-color: #000000;
    color: #fdf6e3;
}

#bodyy.darktheme .prgh{
    background-color: grey;
    color: #000000;
}

#bodyy.darktheme .brain{
    background-color: #586e75;
    color: #000000;
}

#bodyy.darktheme .rights{
    background-color: #586e75;
    color: #000000;
}

#bodyy.darktheme .right{
    background-color: #586e75;
    color: #000000;
}

.darktheme .theme button {
    background-color: #586e75;
    color: #fdf6e3;
    border-color: #073642;
}
 

.buttono button {
    background-color: #f0c3c3;
    width: 90px;
    height: 80px;
    margin: 5px;
    border-radius: 4px;
    font-size: 1.5rem;
    
}

#reset {
    background-color: #e7a4a4;
    border: 5px solid #938888;
    padding: 15px 35px;
    margin: 1px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: inherit;
}

#add {
    background-color: #f3d3d3;
    border: 2px solid #c44e4e;
    padding: 2px 30px;
    margin: 1px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: inherit;
}

#remove {
    background-color: #f3d3d3;
    border: 2px solid #c44e4e;
    padding: 2px 30px;
    margin: 1px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: inherit;
}

#guess {
    background-color: #e7a4a4;
    border: 5px solid #938888;
    padding: 15px 35px;
    margin: 1px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: inherit;
}

#slot1 {
    width: 60px;
    height: 60px;
    font-size: 40px;
    border: 3px solid #0e83a0;
}

#slot2 {
    width: 60px;
    height: 60px;
    font-size: 40px;
    border: 3px solid #0e83a0;
}

#slot3 {
    width: 60px;
    height: 60px;
    font-size: 40px;
    border: 3px solid #0e83a0;
}

#slot4 {
    width: 60px;
    height: 60px;
    font-size: 40px;
    border: 3px solid #0e83a0;
}

.right {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(177, 96, 96);
    color: #000000;
    padding: 2px 16px;
    font-size: 15px; 
}
